/* ---------- Color Paletts ---------- */
:root {
    --dark1: #483434;
    --dark2: #6B4F4F;
    --light1: #EED6C4;
    --light2: #FFF3E4;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    /* border: .1px solid; */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 36px;
    padding: 10px 25px;

    background-color: var(--dark1);
    color: var(--light1);
}

section {
    margin: 100px auto;
    width: 75%;
    display: flex;
    flex-direction: row;
}

/* ---------- Introduction Section ---------- */
#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 75%;
}

.intro-description {
    line-height: 3rem;
    font-size: 24px;
    padding: 20px 40px;
}

#start-button {
    width: 25%;
    margin: 0 auto;
    font-size: 24px;
}


.section-header {
    font-size: 60px;
    padding: 25px;
    background-color: var(--light1);
    color: var(--dark1);
    border-bottom: 1px solid var(--dark1);
}


.btn {
    background-color: purple;
    color: whitesmoke;
    padding: 20px;
    border: .1px solid;
    border-radius: 5px;    
}

/* ---------- Quiz Section ---------- */
#quiz-content {
    display: none;
}

.answer-group {
    margin: 20px 0;
}

.answer-choices {
    background-color:var(--light2);
    color: var(--dark1);
    padding: 20px;
    margin: 10px 0;
    border: .1px solid var(--dark1);
    border-radius: 10px;
    font-size: 24px;
}

.question-result {
    font-size: 24px;
}

/* --------- Pseudo Selectors ---------- */
.answer-choices:hover{
    padding: 24px 20px;
    background-color: var(--light1);
    /* font-size: 28px; */
    transition: all 0.25s;
}

.btn:hover {
    opacity: .7;
}


/* ---------- Final Score Section ---------- */
#final-score {
    display: none;
}

/* ---------- Highscores Section ---------- */
#highscores {
    display: none;
}