/* ---------- Color Palett ---------- */
:root {
    --dark1: #483434;
    --dark2: #6B4F4F;
    --light1: #EED6C4;
    --light2: #FFF3E4;
}
/* ---------- Semantic Elements and Constants ---------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 36px;
    padding: 10px 25px;
    background-color: var(--dark1);
    color: var(--light1);
}

main {
    width: 80%;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: row;
    margin: 100px auto;
    max-width: 1250px;
}

li {
    list-style: none;
}

span {
    font-weight: bold;

}

hr {
    width: 75%;
    margin: 0 auto;
}

ul li {
    background-color: var(--light2);
    color: var(--dark1);
    padding: 20px 10px;
    margin: 10px 0;
    font-size: 24px;
}

/* ---------- Constants ---------- */
.section-header {
    font-size: 60px;
    padding: 25px;
    background-color: var(--light1);
    color: var(--dark1);
    border-bottom: 1px solid var(--dark1);
    text-align: center;
    margin: 20px 0;
    width: 100%;
}

.btn {
    background-color: var(--dark1);
    color: var(--light2);
    padding: 10px 30px;
    border: .1px solid;
    border-radius: 5px;
}

/* ---------- Introduction Section ---------- */
#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.intro-description {
    line-height: 2rem;
    padding: 20px 40px;
}

#start-button {
    width: 25%;
    margin: 0 auto;
}

/* ---------- Quiz Section ---------- */
#quiz-content {
    display: none;
}

.answer-group {
    margin: 20px 0;
}

.answer-choices {
    background-color:var(--light2);
    color: var(--dark1);
    padding: 20px;
    margin: 10px 0;
    border: .1px solid var(--dark1);
    border-radius: 10px;
}

/* ---------- Final Score Section ---------- */
#final-score {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: none;
}

#initials-submit-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    margin: 20px 0;
    background-color: var(--light2);
}

.formEl {
    margin: 0 10px;
}

/* ---------- Highscores Section ---------- */
#highscores {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: none;
}

.closing-buttons {
    display: flex;
    justify-content: center;
}

#highscoresTable {
    width: 50%;
    margin: 0 auto;
}

/* --------- Pseudo Selectors ---------- */
.answer-choices:hover{
    background-color: var(--light1);
    transition: all 0.25s;
}

.btn:hover {
    opacity: .7;
}

/* ---------- Media Queries ---------- */
@media screen and (max-width: 768px) {
    main {
        width: 100%;
    }

    #initials-submit-form {
        flex-direction: column;
    }

    .formEl {
        margin: 10px 0;
    }

    #highscoresTable {
        width: 75%;
        margin: 10px auto;
    }
}